<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.droidtr.keyboard"
    android:versionCode="66"
    android:versionName="7.7.3" >
	<uses-permission android:name="android.permission.VIBRATE"/>
        <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="1024" />

    <application android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="DroidTR IME" >
        <service android:name=".SoftKeyboard"
            android:label="DroidTR IME"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>            
        </service>
	<activity
            android:name=".MainActivity"
            android:label="DroidTR IME Settings"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
